@charset 'utf-8'; //
$env: 'development' !default;

///////////////////////////////////////////////////////////////////
// Import dependencies
///////////////////////////////////////////////////////////////////
@import 'variables';
@import 'typography';
@import '../node_modules/bootstrap/scss/bootstrap';


///////////////////////////////////////////////////////////////////
// CSS files for exercize
///////////////////////////////////////////////////////////////////
@import 'components/base-modal';
@import 'pages/exercice-modal';


///////////////////////////////////////////////////////////////////
// Global
///////////////////////////////////////////////////////////////////
body{
  color: $black-color;
}

.main-col{
  padding: 50px 0;
}

a {
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(121, 121, 121);
  border-radius: 2px;
  padding: 6px;
}