<!-- 

///////////////// 1 - Réécriture du Formulaire en accessible /////////////////

1.a - Ajout d'une <div role="dialog"> englobbant tout le formulaire
1.b - Ajout d'aria-labelledby et d'un aria-describedby
1.c - Ajout des balises <fieldset> et <legend> à la place des simples <div>
1.d - Ajout de la classe "fieldset-legend" dans la balise <legend>
1.e - Ajout des balises <label> pour chaque <input> du formulaire
1.f - Ajout d'un role="button" dans le <input> de validation du formulaire
1.g - Ajout d'un "aria-label" dans le <input> de validation du formulaire

-->

<div role="dialog" id="dialog" aria-labelledby="Formulaire" aria-describedby="Formulaire à remplir" aria-modal="true">
  <form action="sendAddress" class="form" id="modal">
    <div class="row">
      <div class="col-lg-6">
        <fieldset>
          <legend class="fieldset-legend">Votre identité</legend>
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" id="prenom">
            </div>
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" id="nom">
            </div>
        </fieldset>
      </div>
      <div class="col-lg-6">
        <fieldset>
          <legend class="fieldset-legend">Vos coordonnées</legend>
            <div class="form-group">
              <label for="rue">Rue</label>
              <input type="text" id="rue">
            </div>
            <div class="form-group">
              <label for="codepostal">Code postal</label>
              <input type="text" id="codepostal">
            </div>
            <div class="form-group">
              <label for="ville">Ville</label>
              <input type="text" id="ville">
            </div>
            <div class="form-group">
              <label for="pays">Pays</label>
              <input type="text" id="pays">
            </div>
        </fieldset>
      </div>
    </div>
    <input type="submit" aria-label="valider le formulaire" role="button" value="entrer">
  
  </form>
</div>
