<!-- 

///////////////// 2 - Page "Le piège au focus" /////////////////

2.a - Ajout d'un tabindex="-1" afin de :  - pouvoir focus directemment le premier champ du formulaire
                                          - ne pas pouvoir sortir de la fenêtre
2.b - Ajouts d'attributs "title" et "aria-label" sur les 2 boutons (boutons ouvrir et fermer)
2.c - Ajout de la fonction "onclick" pour ouvrir/fermer le formulaire

-->

{% extends "../base.html.twig" %}
{% block title %}Exercice piège au focus{% endblock %}
{% block bodyClass %}exercice{% endblock %}

{% block content %}
<h1>Le piège au focus</h1>

<!-- bouton -->
<button id="modal-button" title="ouvrir" aria-label="ouvrir le formulaire" onclick="document.getElementById('address-modal').style.display='block'">Ouvrir</button>



<!-- base-modal, ouverte par défaut -->
<div class="base-modal base-modal--show" id="address-modal">
  <span class="base-modal__backdrop"></span>
  <div class="base-modal__body">
    <div class="base-modal__header">
      <button type="button" tabindex="-1" onclick="document.getElementById('address-modal').style.display='none'"  class="base-modal__close" aria-label="Fermer le formulaire" data-dismiss="dialog" title="fermer">
        <span class="base-modal__close__icon">
          <span></span>
          <span></span>
        </span>
      </button>
      <h2 id="dialogTitle" class="base-modal__title">Mon adresse</h2>
    </div>

    <div id="modal-show" class="base-modal__content">
      {% include "../components/form.html.twig" %}
    </div>

  </div>
</div>

{% endblock %}
